@model Usuario

@{
    ViewData["Title"] = "Perfil de usuario";
}
<h2>Perfil de Usuario</h2>

<table class="table"> 
    <tr>
        <th>Nombre de Usuario</th>
        <td>@Model.NombreUsuario</td>
    </tr>
     <tr>
        <th>Email</th>
        <td>@Model.Correo</td>
    </tr> 
     <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
     <tr>
        <th>Telefono</th>
        <td>@Model.Telefono</td>
    </tr>
</table>

<h3>Direcciones</h3>
@if (Model.Direccion.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Direccion</th>
                <th>ciudad</th>
                <th>Departamento</th>
                <th>Codigo Postal</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var direccion in Model.Direcciones)
            {
                <tr>
                    <th>@direccion.Address</th>
                    <th>@direccion.Cuidad</th>
                    <th>@direccion.Departamento</th>
                    <th>@direccion.CodigoPostal</th>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No hay direcciones disponibles</p>
}
<a asp-action="AgregarDireccion" class="btn btn-primary" asp-route-id="@Model.UsuarioId">Agregar direccion</a>