@model IEnumerable<tienda.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="mb-3">CATEGORIAS</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Main Principal</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.CategoriaId" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
