@model IEnumerable<tienda.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.CodigoPostal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DireccionId" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.DireccionId" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.DireccionId" class="btn btn-danger"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
